<!doctype html>
<title> Welcome to CAESAR rest app test page </title>

<p> Welcome. You are authenticated as {{ username }}. <a href="/logout">Log out</a> </p>

<!-- FILE UPLOAD -->
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<!--<form method="post" action="/" enctype="multipart/form-data">-->
<form method="post" action="caesar/api/v1.0/upload" enctype="multipart/form-data">
	<dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
	</dl>
  <p>
		<input type="submit" value="Submit">
	</p>
</form>

<!-- FILE DOWNLOAD -->
<h2>Specify file to download by path </h2>

<form method="post" action="caesar/api/v1.0/download-path">
  <p>Filename:</p>
  <p><input type = "text" name = "filename" /></p>
  <p><input type = "submit" value = "submit" /></p>
</form>

<h2>Specify file to download by uuid </h2>

<form method="post" action="caesar/api/v1.0/download-id">
  <p>UUID:</p>
  <p><input type = "text" name = "uuid" /></p>
  <p><input type = "submit" value = "submit" /></p>
</form>
